@font-face {
  font-family: 'MontseratBold';
  src: url('../fonts/Montserrat-Bold.ttf');

  font-family: 'MontseratRegular';
  src: url('../fonts/Montserrat-Regular.ttf');

  font-family: 'MontseratLight';
  src: url('../fonts/Montserrat-Light.ttf');
}
